[alias]
    br = branch
    ci = commit
    co = checkout
    sh = show
    st = status
[color]
	ui = true
[core]
	pager = less -+F
	excludesfile = ~/.gitignore_global
[user]
	name = Richard Xia
	email = richardxia@richardxia.com
[merge]
	conflictstyle = diff3
