[alias]
	br = branch
	ci = commit
	co = checkout
	sh = show
	st = status
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	pager = less -+F
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[pager]
	branch = less --no-init --quit-if-one-screen
	tag = less --no-init --quit-if-one-screen
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
[user]
	email = richardxia@richardxia.com
	name = Richard Xia
